{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/direct/direct_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="row">
                <div class="col-12 col-md-5 card offset-md-0">

                        <!-- All User Profiles -->

                        <!-- Single user Profile Row -->
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">sunnii</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">sunnii</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">xyz</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">abc</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">sunnii</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">sunnii</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">xyz</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-decoration-none">
                            <div class="row py-3 px-5 border-bottom">

                                <!-- Profile picture -->
                            
                                
                                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                                <!-- Profile picture end -->

                                <div class="d-flex mx-4">

                                    <!-- User's full name -->
                                    <p class="m-auto">abc</p>
                                    
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                                </div>
                            </div>
                        </a>
                        <!-- Single user Profile Row end -->

                        
                        <!-- All User Profiles end -->



                        <!-- No Results found -->
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}